/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-image: url('img/i1.jpg');
    background-size: cover; /* или contain, чтобы изображение заполнило весь экран без искажения пропорций */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
    background-position: center; /* центрирует изображение */
    text-align: center;
}

/* Навигация */
nav {
    background: #ffffff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.0, 0.3);
    z-index: 1000;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
    color: #0400ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #0400ff;
}

/* Главный экран */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text_h1_1 {
    color: #000000;
    line-height: 1.5;
    padding: 15px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: #2ca9c6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.intro {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-photo {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #1100ff;
}

.intro-text h1 {
    font-size: 28px;
}

.highlight {
    color: #0d00ff;
}

/* Обо мне */
.about {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 2vh;
}
.story {
    overflow-wrap: break-word;
    text-align: justify; /* Выравнивание текста по ширине */
    padding-left: 80px; /* Отступ слева */
    padding-right: 80px;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 100px;
}

/* Раздел "Навыки" */
.sk {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch; 
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px auto 10px auto;/* горизонтальный отступ */
    padding-bottom: 100px;
}

.skill-card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-align: center;
    line-height: 1.3;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.skill-card i {
    font-size: 40px;
    color: #007bff;
}

/* Раздел "Инструменты" */
.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px auto 10px auto;/* горизонтальный отступ */
    padding-bottom: 100px;
}

.tools-card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-align: center;
    line-height: 1.4;
}

.tools-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.tools-card i {
    font-size: 40px;
    color: #007bff;
}

/* Контакты */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    font-size: 40px;
    color: #007bff;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #d5b145;
}

/* Адаптивность */
@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        display: grid;
        place-items: center;    
    }
    .about {
        flex-direction: column;
        display: grid;
        place-items: center;  
    }
    .intro {
        margin: 60px;
        flex-direction: column;
        text-align: center;
        display: grid;
        place-items: center;
    }
    .story {
        flex-direction: column;
        display: grid;
        place-items: center;
    }
    .skills-container {
        flex-direction: column;
        display: grid;
        place-items: center;
    }
}
